img.logo-img {
    width: 100%
}

.auth-header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.rounded-form {
    border-radius: 20px;
}

.btn-create {
    background-color: rgb(4, 6, 26);
    border-radius: 20px;
    color: white;
    width: 100%;
    border: none !important;
    box-shadow: none !important;
    height: 40px;
}

.btn-create:hover {
    color:white;
    background-color: rgba(8, 24, 44, 0.671)
}
.logo-image {
    width: 50px !important;
    height: 50px;
}
.logo-text {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
}
.contain-section {
    margin-left: 5%;
    margin-right: 5%;
}
.prev-title {
    margin-left: 15px;
    font-size: 15px;
}
.left-pannel {
    border: 1px solid #ccc;
}
.center-pannel {
    margin-left: 50px;
    margin-right: 50px;
}
.subtitle {
    margin-right: 15px;
    text-decoration: underline;
    text-decoration-color: #ccc;
}
.subtitle-1 {
    margin-right: 15px;
    text-decoration: underline;
    text-decoration-color: #0066ff;
}
.small-title {
    margin-top: 50px;
}
.small-title-letter {
    font-size: 30px;
    margin-bottom: 20px;
}
.small-title-desc {
    border-left-style: solid;
    border-color: #0066ff;
    border-width: 3px;
    padding-left: 20px;
    margin-top: 15px;
}
.countries {
    padding-left: 25px;
    height: 40px;
    border: none;
    padding-left: 20px;
}
.postalcode {
    border: none;
    border-left: 2px solid #ccc;
    height: 40px;
    /* width: 420px; */
    width: calc(100% - 147px);
    padding-left: 10px;
}
.postal-code-input {
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.label {
    font-size: 20px;
}
.weight {
    border: none;
    height: 40px;
    width: 200px;
    padding-left: 30px;
}
.weight-number {
    height: 40px;
    padding-left: 10px;
    padding-right: 20px;
    border-left: 2px solid #ccc;
    font-size: 20px;
    
}
.weight-input {
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 50px;
    
    
}
.next-button {

    background-color: #0066ff; 
    border: none;
    color: white;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-size: 25px;
      
}

.option-image {
    width: 100px;
    height: 55px;
}
.option-container {
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
}
.logo-description {
    margin-bottom: 0px;
    text-align: center;
}
#truck-desc, #part-desc {
    display: none;
}
#M_desc, #L_desc {
    display: none;
}
.choose-vehicle {
    display: inline-block;
    padding: 4px 30px;
    border: 1px solid #ccc;
    text-align: center;
}
.choose-option-container {
    margin-bottom: 20px;
}
.custom_checkbox {
    transform: scale(1.5);
    margin-left: 3px;
}
.checkbox_label {
    margin-left: 12px;
}
.express-description {
    margin-top: 10px;
}
.checkbox-desc {
    margin-left: 15px;
}
.customized {
    padding: 6px 20px;
    border: 1px solid #ccc;
    background-color: #fff;

}
.dimensions {
    
    border: 1px solid #ccc;
}
.customized-container {
    padding: 5px;
    border: 1px solid #ccc;
}
.input-label {
    text-align: left;
}
.enter-label {
    display: inline-block;
    margin-top: 10px;
}
.weight-input-container {
    float:right;
}
.input-form {
    border: none;
    height: 40px;
    width: 100px;
    font-size: 18px;
}
.input-group-container {
    
    border: 1px solid #ccc;
}
.currency_input {
    padding: 3px;
    padding-top: 11px;
    padding-bottom: 9px;
    background-color: #e6f2ff;
}
.weight-input-container-1 {
    margin-right: 7px;
    display: inline-block;
}
.dimension-add {
    margin-top: 20px;
    padding: 7px 34px;
    font-size: 18px;
    border: none;
    background-color: #0066ff;
    color: #fff;
    float: right;
}
.item-list-content {
    display: inline-block;
}
.item-variable-container {
    display: inline-block;
    border-left: 2px solid #0066ff;
    margin-left: 15px;
    padding-left: 15px;
}
.item-list-container {
    margin-top: 70px;
}
.pallets-container {
    padding: 4px;
    border: 1px solid #ccc;

}
#pallets_weight_container {
    margin-top: -27px;
}
.dimension-input-container {
    margin-top: 20px;
}
.services {
    display: none;
}
.full-truck-option {
    display: none;
}
.part-load-option {
    display: none;
}
#truck_description {
    display: none;
}
#trailer-description {
    display:none;
}
.specify-dimension {
    display: none;
}
#full_truck_pallets {
    display: none;
}
#part_load_pallets {
    display: none;
}
.active-border {
    border: 2px solid #0066ff;
}
.date-time {
    display: none;
}
.prev-button {
    border: none;
    background-color: #fff;
    font-size: 20px;
    vertical-align: 24px;
    padding: inherit;
}
.btn-details {
    width: 100%;
    border: 1px solid #ccc;
}
.pick-up-time-button {
    border: none;
    background-color: #fff;
    
}
.button-group {
    font-size: 20px;
    border: 1px solid #ccc;
}
.time-display {
    margin-bottom: 0px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 90px;
    text-align: center;
    
}
.prev-quotes {
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.prev {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: #cce0ff;
    
}
.pre-pick-up{
    margin-bottom: 10px;
}
.pre-delivery {
    margin-bottom: 10px;
}
.pick-up-botton-container {
    float: right;
}
.pick-up-button {
    border: none;
    border-bottom: 1px solid;
    background-color: #fff;
}
.summary-pay {
    display: none;
}
.right-desc {
    
    border: 1px solid #ccc;
    font-size: 13px;
    padding: 5px 10px;
    margin-bottom: 20px;

}
.sub-right-titile {
    
    font-size: 16px;

}
.sub-title-class {
    
    font-size:16px;
    margin-bottom: 0px;
}
.input-field {
    font-weight: lighter;
    font-size: 13px;
}
.price-display {
    float: right;
}
.container-summary {
    font-size: 15px;
}
.sub-title-label {
    display: inline-block;
    width: 200px;
    text-align: right;
    padding-right: 20px;
}
.right-input {
    width: calc(100% - 204px);
}
.cargo-container {
    border: 1px solid;
    padding: 10px;
    margin-bottom: 20px;
}
.cargo-label {
    margin-bottom: 5px;
    font-weight: bold;
    display: inline-block;
    margin-right: 15px;
}
.draft {
    border: none;
    width: 100%;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 10px;
    background-color:  #e6faff;
}
.buttn-style {
    border: none;
    width: 100%;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #0066ff;
    color:#fff
}
#final {
    display: none;
}